.origin .x-tree-icon.tree { background: url("../images/custom/tree.png") no-repeat !important; }
.origin .x-tree-icon.hierarchy { background: url("../images/custom/hierarchy.png") no-repeat !important; }
.origin .x-tree-icon.table-gear { background: url("../images/fam/table_gear.png") no-repeat !important; }
.origin .x-tree-icon.text-list-numbers { background: url("../images/fam/text_list_numbers.png") no-repeat !important; }
.origin .x-tree-icon.property { background: url("../images/custom/leaf.gif") no-repeat !important; }
.origin .x-tree-icon.param-hand { background: url("../images/custom/param-hand.png") no-repeat !important; }